:root{
	--mainColor:#5199db;
	--secondaryColor:#86b7f0;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(182, 72, 185, 0.8);
	--previewShadow:#af3189;


	--buttonColor:#996699;


}